@using Inventories.Models.Employee;

@model EditModel

<div class="row mb-3">
    <div class="col">
        <h1 class="display-4 border-bottom">Bölümü Sil</h1>
        <h4>Bölümü Silmek istediğinizden emin misiniz?</h4>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <dl>
            <dt>Kullanıcı Adı</dt>
            <dd>@Model.Username</dd>
            <dt>Çalışan Adı Soyadı</dt>
            <dd>(@Model.Name @Model.Surname)</dd>
            <dt>Çalışanın İşe Giriş Tarihi</dt>
            <dd>@Model.StartDateJob?.ToString("dddd,dd/MM/yyyy")</dd>
            <dt>Çalışanın İşten Çıkış Tarihi</dt>

            @if (@Model.EmploymentDate == null)
            {
                <dd>Devam Ediyor</dd>

            }
            else
            {
                <dd>@Model.EmploymentDate?.ToString("dddd,dd/mm/yyyy")</dd>
                
            }
            <dt>Çalışanın Departmanı</dt>
            <dd>@Model.DepartmanName</dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col">
        @*<form method="post" asp-action="DeleteConfirm"
        asp-route-id="@ViewContext.RouteData.Values["id"]">
        <button type="submit" class="btn btn-danger btn-sm">Yes, Delete!</button>
        <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List!</a>
        </form>*@


        <form method="post">
            <button type="submit" class="btn btn-danger btn-sm">Sil!</button>
            <a asp-action="Index" class="btn btn-secondary btn-sm">Geri Dön</a>
        </form>
    </div>
</div>